@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
}
/* Header */

.brand{
    width: 120px;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
}

/* Header */
.invoice{
    background-color: aliceblue;
}